<h3 class="title">Shopping Cart</h3>

<div class="cart-item" *ngFor="let product of products">
  <span>{{ product.label }}, {{ product.price }} €</span>
</div>

<div class="icons">
  <span (click)="deleteAll()" *ngIf="products.length > 0" class="iconsAlign">
    supprimer tout
    <i class="material-icons-outlined endCart">
      delete
    </i>
  </span>

  <span (click)="checkout()" *ngIf="products.length > 0" class="iconsAlign">
    passer au paiement
    <i class="material-icons-outlined">
      shopping_cart_checkout
    </i>
  </span>
</div>

<br/>
<p class="totalPrice" *ngIf="products.length > 0"> prix total: {{totalPrice}} </p>
