.icons {
  display: flex;
  justify-content: space-around;
}

.iconsAlign {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 10px;
}

.cart-item {
  border: 1px solid lightgrey;
  margin-bottom: 10px;
}

.totalPrice {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}
