.oneCard {
  width: 400px;
  border: 3px solid black;
  border-radius: 7px;
  margin-bottom: 10px;
}

.centeredElements {
  display: flex;
  justify-content: center;
}

.callToAction {
  margin-left: 28%;
  width: 150px;
}
