<div class="card-wrapper oneCard">

  <mat-card class="example-card">
    <mat-card-header (click)="getProductDetail(product.id)" style="cursor: pointer;">
      <img
        src= {{product.thumbnail_url}}
        mat-card-avatar />
      <mat-card-title>{{product.label}}</mat-card-title>
      <mat-card-subtitle>
        {{product.description}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="callToAction" src={{product.thumbnail_url}} alt="Logo" style="min-height: 150px;">
    <mat-card-content>
      <p class="centeredElements">
        prix : {{product.price}}
      </p>
    </mat-card-content>
    <mat-card-content>
      <p class="centeredElements">
        quantité : {{quantity}}
      </p>
    </mat-card-content>

    <mat-card-actions class="centeredElements">
      <button (click)="addToCart(product)">
        <i class="material-icons-outlined endCart">
          shopping_cart
        </i>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
