<div class="row">
  <div class="col-75">
    <div class="container">
      <div class="col-25">
        <div class="container">
          <p>
            Total
            <span class="price" style="color: black"
              ><b> {{ totalPrice }} </b></span
            >
          </p>
        </div>
      </div>

      <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
        <p>
          <label for="firstname">First Name </label>
          <input
            type="text"
            id="firstname"
            name="firstname"
            formControlName="firstname"
            required
          />
        </p>

        <p>
          <label for="lastname">Last Name </label>
          <input
            type="text"
            id="lastname"
            name="lastname"
            formControlName="lastname"
            required
          />
        </p>

        <p>
          <label for="adress">adress </label>
          <input
            type="text"
            id="adress"
            name="adress"
            formControlName="adress"
            required
          />
        </p>

        <p>
          <label for="email">Email </label>
          <input
            type="text"
            id="email"
            name="email"
            formControlName="email"
            required
          />
        </p>

        <p>
          <label for="gender">Gender </label>
          <input
            type="radio"
            value="male"
            id="gender"
            name="gender"
            formControlName="gender"
          />
          Male
          <input
            type="radio"
            value="female"
            id="gender"
            name="gender"
            formControlName="gender"
          />
          Female
        </p>

        <!-- payment -->
        <div class="col-50">
          <h3>Payment</h3>

          <p>
            <label for="creditCardNumber">creditCardNumber </label>
            <input
              type="number"
              id="creditCardNumber"
              name="creditCardNumber"
              formControlName="creditCardNumber"
              placeholder="1111-2222-3333-4444"
              required
              minlength="16"
            />
          </p>

          <p>
            <label for="expireMonth">expireMonth </label>
            <input
              type="text"
              id="expireMonth"
              name="expireMonth"
              formControlName="expireMonth"
              placeholder="September"
              required
            />
          </p>

          <p>
            <label for="expireYear">expireYear </label>
            <input
              type="number"
              id="expireYear"
              name="expireYear"
              formControlName="expireYear"
              placeholder="2022"
              required
            />
          </p>

          <p>
            <label for="cvv">cvv </label>
            <input
              type="number"
              id="cvv"
              name="cvv"
              formControlName="cvv"
              placeholder="123"
              required
              maxlength="3"
            />
          </p>
        </div>
        <!-- fin -->

        <p>
          <button class="btn" type="submit">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>
