.alignHeader {
  display: flex;
  justify-content:space-between;
  width: 100%;
  align-items: center;
  background-color: lightgray;
}

.endCart {
  padding-right: 30px;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.searchResult {
  position: absolute;
  top: 50px;
  left: 45%;
  border: 1px solid black;
  width: 15%;
  z-index: 1;
  background-color: black;
  color: white;
}

.search {
  margin-right: 25%
}
