<div class="alignHeader">
  <nav mat-tab-nav-bar>
    <span (click)="goHome()" class="material-icons-outlined home">
      home
    </span>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
       (click)="goToPage(link.id)">
      {{link.label}}
    </a>
  </nav>

  <div class="search">
    <input class="searchTerm" type="text" name="searchTerm"
      placeholder="recherchez un produit"
      [(ngModel)]="searchTerm" (input)="search(searchTerm)" />
  </div>

    <table class="table table-striped searchResult" *ngIf="searchTerm">
    <tbody *ngFor="let item of items | filter: searchTerm; index as i">
      <tr style="cursor: pointer;" (click)="getProductDetail(item.id)">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ item.label }}</td>
      </tr>
    </tbody>
  </table>

  <span *ngIf="!shopService.isAddedToCart" (click)="goToCart()" class="material-icons-outlined endCart">
    shopping_cart
  </span>
  <span *ngIf="shopService.isAddedToCart" (click)="goToCart()" class="material-icons-outlined endCart">
    add_shopping_cart
  </span>
</div>

