<h1 class="title">Bienvenue sur AirWebTest</h1>

<div *ngIf="!!productList" class="multipleCards">
  <div *ngFor="let product of productList">
    <app-product-card
      [product]="product">
    </app-product-card>
  </div>
</div>
