.centerProduct {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.centeredImage {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.centeredElements {
  display: flex;
  justify-content: center;
}
